.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 5rem;
  width: 100%;
  background-color: #ffdd35;
}

.nav-bar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
